@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url('Lato-Light.ttf');
    src: local(''),
        url('Lato-Light.ttf') format('truetype'),
        url('Lato-Light.woff') format('woff'),
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('Lato-Regular.ttf');
    src: local(''),
        url('Lato-Regular.ttf') format('truetype'),
        url('Lato-Regular.woff') format('woff'),
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('Lato-Bold.ttf');
    src: local(''),
        url('Lato-Bold.ttf') format('truetype'),
        url('Lato-Bold.woff') format('woff'),
}

@font-face {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url('Lato-Black.ttf');
    src: local(''),
        url('Lato-Black.ttf') format('truetype'),
        url('Lato-Black.woff') format('woff'),
}